# Dependencies
node_modules/
.local
state
replit
agent



# Build output
dist/

# System files
.DS_Store

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# Replit files
.replit
replit.nix
replit.toml
favicon.png


# Vite config temp files
vite.config.ts.*
!vite.config.ts

# Project-specific
server/public/

# Archives
*.tar.gz

# Editor folders
.vscode/
.idea/

# Cache
.cache/

